streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

faiss-cpu
sentence-transformers
transformers
torch

groq
python-dateutil
beautifulsoup4
playwright
